body{
    background-color: #696969;
}
.containter {
    height: max-content;
}
#mapa {
    height: 550px;
    width: 100%;
}
.wiadomosci{
    height: 300px;
    display: flex;
    flex-direction: column;
}
.okno_wiadomosci{
    overflow: auto;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
}
.okno_czat{
    display: flex;
}
#wpisz_tekst{
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
}
#wyslij {
    margin-top: 5px;
}