html {
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #969696;
}
.containter {
    height: max-content;
}
#mapa {
    height: 550px;
    width: 100%;
}
.wiadomosci{
    height: 300px;
    display: flex;
    flex-direction: column;
}
.okno_wiadomosci{
    overflow: auto;
    min-height: 200px;
    background-color: #ffffff;
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
}
.okno_czat{
    display: flex;
    min-height: 40px;
}
#wpisz_tekst{
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
    
    font-family: 'Quicksand', sans-serif;
}
#wyslij, #button_ok {
    margin-top: 5px;
    font-family: 'Quicksand', sans-serif;
}
.schowaj{
    visibility: hidden;
    height: 0px;
}
#info {
    margin-top: 5px;
}
.nowa_wiadomosc {
    background: #ffffff;
    color: #000000;
    margin: 5px;
    border-bottom: 1px solid #999999;
}
