body
{
    background-color: #757575;
    background-image: url(img/drums.png)
}
.pojemnik {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}
.pojemnik2 {
    margin-top: 10%;
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
button{
    margin: 5px;
    
}
button:focus {
    outline: 0;
}
#rec, #play{
    transition-duration: 0.4s;
}
#rec:hover{
    background-color: #ff2a1b;
    color: white;
}
#play:hover{
    background-color: #00c3ff;
    color: white;
}
form {
    color: #ffffff;
}
.klawisz {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px solid #696969;
    border-radius: .5rem;
    transition: all .07s ease;
}
.graj {
    font-size: 60px;
    transform: scale(1.2);
    box-shadow: 0 0 1rem #000000;
}